/* Globales */

a {
    text-decoration: none;
}

/* Header */
header {
    position: relative;
}
/* Nav */

nav {
    background-color: #1F1F1F;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.logo-img {
    width: 200px;
}
.nav {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.nav-a {
    color: #fff;
}

/* Slider */
.slider {
    height: 600px;
    background-image: url(../img/salon.jpeg);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* Menú */
.concepto {
    height: 600px;
    background-image: url(../img/hierba-verde.jpeg);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.concepto-box {
    background-color: #1F1F1F;
    color: #fff;
    width: 300px;
    padding: 50px;
}
h2, h4 {
    text-transform: uppercase;
}

h4 {

    text-align: center;
}
h4.linea {
    position: relative;
    z-index: 1;
}
h4.linea:before {
    border-top: 2px solid #fff;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
h4.linea span {
  
    background: #1F1F1F;
    padding: 0 15px;
}